{#
/**
 * @file
 * Default theme implementation to display a formatted  icm field.
 *
 * Available variables:
 * - image: A collection of image data.
 * - size: 90 100 150 250 300
 * - zoom: 1..5
 * - link_image_to: An optional URL the image can be linked to.
 *
 * @see template_preprocess_image_formatter()
 *
 * @ingroup themeable
 */
#}

<div id="magnify-preview">
{% for key,value in url %}
    <div class="field-magnify-img">
         <img id="field-magnify-{{ key }}" class="magnify-img" alt="{{ value.alt }}" src="{{ value.uri }}" data-size="{{ size }}" data-zoom="{{ zoom }}"/>
    </div>
{% endfor %}
</div>

